/* カラー============================== */
$txt-color: #181818;
$white-color: #fff;
$red-color: #b01414;
$arrow_gold-color: #50320a;
$gold-color: #d4b83c;
$gray-border: #707070;
$bage-color: #f3f0d6;
$light-bage: #f0f0e6;
$box-shadow: rgba(0, 0, 0, 0.12);
